<h1 style="text-align:center;"><span>New Combatant</span></h1>
<p style="text-align:center;"><span>Enter information</span></p>

<%= render 'form' %>

<%= link_to 'Home', "/" %>
<%= link_to 'People', people_path %>

