<p style="text-align:center">
  <strong>Name:</strong>
  <%= @person.combatant_name %>
</p>
 
<p style="text-align:center">
  <strong>Description:</strong>
  <%= @person.combatant_description %>
</p>

<%= link_to 'Home', home_path %>
<%= link_to 'People', people_path %>
