<h1 style="text-align:center;"><span>A Friendly Rivalry</span></h1>
<p style="text-align:center;"><span>Settling old scores with many asterisks</span></p>
<%= link_to "All Combatants", controller: "people" %>
<%= link_to "New Combatant", new_person_path %>
