// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
background: image-url('battle_of_chattanooga.jpg') no-repeat center center fixed;
background-size: cover;
}

h1 span{
background-color:black;
color:white;
}

p span{
background-color:black;
color:white;
}
